/* global */
a{
    text-decoration: none;
    color: azure;
}
li{
    list-style: disc;
}
li::marker {
    color: #480000;
}
body {
    font-family: "Lato", sans-serif;
}

/* heading */

.heading{
    background-color: #030164;
    border-radius: 8px 8px 0px 0px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.logo{
    display: flex;
    border: solid 1px;
    border-radius: 24px;
    width: 50px;
    height: 50px;
}
.headLeft{
    display: flex;
    align-items: center;
    gap: 8px;
}
.headRight{
    display: flex;
    gap: 8px;
}
.tc1{
    margin: 0px 8px 0px 0px;
}

/* hero section */

.heroSection{
    display: flex;
    background-color: #363199;
    color: azure;
    padding: 24px;
    justify-content: space-around;
    gap: 8px;
    flex-wrap: wrap;
}

.rightSide img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    display: flex;
    flex-shrink: 1;
    margin: 8px 0px;
    max-width: 90%;
}
.leftSide h2{
    font-size: 32px;
    margin: 16px 0px;
    color: #F7FAFC;
    
}
.leftSide a {
    display: flex;
    
}
.leftSide p{
    margin: 8px 0px;
}
.leftSide {
    display: flex;
    flex-direction: column;
    width: 360px;
    max-width: 90%;
    height: auto;
}
.rightSide{
    display: flex;
    width: 300px;
    max-width: 90%;
}
.leftSide a {
    background-color:#484590;
    border:#030164 solid 1px;
    border-radius: 8px;
    padding: 8px;
    
}
.leftSide nav{
    margin: 16px 0px;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
}

/* about section */
.aboutSection{
    display: flex;
    flex-direction: column;
    background-color: #bbb464;
    color: #F7FAFC;
    padding: 24px;
    margin: 0px;
    
}
.inAbout{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.aboutSection h2{
    text-align: center;
    margin: 8px;
}
.aboutSection p{
    margin: 8px;
}
.aboutSection ul {
    margin: 8px;
}

/* skills section */
.skillsSection{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
}
.skillsSection h2{
    text-align: center;
}
.skillsSection .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
}
.skillsSection .cards{
    display: flex;
    flex-direction: column;
    text-align: center;
    flex: 1 1 auto;
}
.images img{
    width: 200px;
    height: auto;
}
.cards li{
    list-style: none;
}
.cards ul{
    padding: 0px;
    margin: 0px;
}

/* education section */

.educationSection{
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: #dbdcdd solid 1px;
    border-radius: 8px;
    margin: 24px 0px;
    
}

/* project section */
.projectSection h2{
    text-align: center;
}

.projectSection .card{
    border: #dbdcdd solid 2px;
    border-radius: 8px;
    background-color: #363199;
    color: #ffff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    width: 300px;
    max-width: 90%;
    height: auto;
}
.containerProject{
    display: flex;
    gap:8px;
    padding: 24px;
    justify-content: center;
    flex-wrap: wrap;
}
.containerProject img{
    width:300px ;
    height: auto;
    border-radius: 8px;
}
.containerProject a{
    background-color:#484590;
    border:#030164 solid 1px;
    border-radius: 8px;
    padding: 8px;
}

/* contact section */

.contactSection{
    background-color: #030164;
    color: #ffff;
    border-radius: 0px 0px 8px 8px;
    text-align: center;
    padding: 8px;
}
.contact{
    display: flex;
    justify-content: center;
}
.github,
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
}



